-c https://raw.githubusercontent.com/apache/airflow/constraints-2.10.0/constraints-3.12.txt
apache-airflow-providers-amazon==8.27.0
apache-airflow-providers-apache-spark==4.9.0
apache-airflow-providers-mongo==4.1.2
apache-airflow-providers-slack==8.8.0
delta-spark==3.2.0
deltalake==0.18.2
polars==1.6.0
pyspark==3.5.1
